In [101]:
import pandas as pd
# import numpy as np

url = 'https://data.ct.gov/api/views/kbxi-4ia7/rows.csv'

df = pd.read_csv(url)
df

,District Number,District,School,Test-takers: 2012,Test-takers: 2013,Test-takers: Change%,Participation Rate (estimate): 2012,Participation Rate (estimate): 2013,Participation Rate (estimate): Change%,Percent Meeting Benchmark: 2012,Percent Meeting Benchmark: 2013,Percent Meeting Benchmark: Change%
0,26111,Ansonia,Ansonia High School,118.0,104.0,-12.0,67.0,61.0,-6.0,18.0,18.0,0.0
1,46111,Avon,Avon High School,254.0,243.0,-4.0,90.0,89.0,-1.0,73.0,75.0,2.0
2,76111,Berlin,Berlin High School,216.0,220.0,2.0,81.0,82.0,1.0,42.0,49.0,7.0
3,96111,Bethel,Bethel High School,200.0,190.0,-5.0,86.0,82.0,-4.0,51.0,49.0,-2.0
4,116111,Bloomfield,Bloomfield High School,116.0,130.0,12.0,79.0,89.0,10.0,11.0,8.0,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
192,9002716,Connecticut Technical High School System,E. T. Grasso Technical High School,59.0,57.0,-3.0,40.0,38.0,-2.0,19.0,5.0,-14.0
193,9016122,Norwich Free Academy,Norwich Free Academy,399.0,356.0,-11.0,70.0,63.0,-7.0,48.0,46.0,-2.0
194,9026122,The Gilbert School,Gilbert School,60.0,54.0,-10.0,71.0,64.0,-7.0,37.0,26.0,-11.0
195,9036122,Woodstock Academy,Woodstock Academy,215.0,227.0,6.0,76.0,80.0,4.0,50.0,47.0,-3.0
196,9999999,State,NaN,NaN,NaN,1.0,73.0,73.0,1.0,44.0,45.0,1.0

In [102]:
list(df.columns)

['District Number',
 'District',
 'School',
 'Test-takers: 2012',
 'Test-takers: 2013',
 'Test-takers: Change%',
 'Participation Rate (estimate): 2012',
 'Participation Rate (estimate): 2013',
 'Participation Rate (estimate): Change%',
 'Percent Meeting Benchmark: 2012',
 'Percent Meeting Benchmark: 2013',
 'Percent Meeting Benchmark: Change%']

In [140]:
print(len(list(df.columns)))

12

In [138]:
print(len(list(df.dtypes)))
# for i in range(len(list(df.dtypes))): print(df.shape[i])
for i in range(len(list(df.dtypes))):
    print(i)
    for j in range(list(df.count())[i]):
        if (type(df.iloc[j,i]) != type(df.iloc[0,i])):
            print(str(type(df.iloc[j,i]))+'vs'+str(type(df.iloc[0,i])))
        else: continue
#             print(str(type(df.iloc[j,i]))+'vs'+str(type(df.iloc[0,i]))+'True')

12
0
1
2
3
4
5
6
7
8
9
10
11

In [105]:
# dtypes(df.iloc[0,0])

In [109]:
namels = df.columns.values.tolist()
rember_class = {}
for ls in list(df.columns):
    rember_class[ls]=type(df[ls][0])
    #print(rember_class)
    for i in range(df.shape[0]):
        if type(df[ls][i])!=rember_class[ls]:
            print('False')
            print(i)

False
196

In [111]:
type_list = df.dtypes.tolist()
type_list

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

In [113]:
    type_list = df.dtypes.tolist()
    for i in range(len(type_list)):
        if (type_list[i] != type_list[0]):
            print('False')

False
False
False
False
False
False
False
False
False
False
False